<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <title>PythonProject</title>
</head>
<body>
    <div class="sidenav">
        <a href="#">Главная страница</a>
        <a href="#">Общая статистика</a>
        <a href="#">Востребо-<br>ванность</a>
        <a href="#">География</a>
        <a href="#">Навыки</a>
        <a href="#">Последние вакансии</a>
    </div>     
        <!-- Содержимое страницы -->
    <header>
        <h1>Профессия "C++ программист"</h1>
    </header>
    <div class="main">
        <h2>Главная</h2>
        <p>C++ входит в десятку самых часто используемых языков программирования в 
            рейтинге Stack Overflow. Его применяют для создания высоконагруженных 
            сервисов, где важна скорость работы, таких как поисковые и рекламные 
            системы, драйверы и операционные системы, игры и приложения, а также в 
            разработке браузеров, потому что люди любят открывать много вкладок, а 
            потом смотреть на зависающий компьютер. На C++ можно писать программы 
            любой сложности, в том числе модели машинного обучения и программы для 
            автопилотов.</p>
        <div class="center-div">
            <img src="{% static "images/image_intro.jpg" %}" alt="image_intro"/>
        </div>
        <p>С++ — один из самых популярных языков. У него есть свои достоинства и 
            недостатки, которые на самом деле достаточно субъективны. Понять, 
            нравится ли вам язык, можно не раньше, чем вы начнете его изучать.
        </p>
        <p>Писать код на C++ — очень обширное понятие. В одних проектах на этом 
            языке создают сложные алгоритмы, в других — пишут модели машинного обучения, 
            в третьих — инфраструктурные общие базы данных. Программирование на С++ 
            предполагает, что нужно еще написать тесты, проверить при помощи них свой 
            код и убедиться, что он будет работать, а те, кто будут дорабатывать его 
            дальше, ничего не испортят.</p>
    </div> 
    <footer>
        <p>Семакин Михаил Олегович, РИ-321003</p>
    </footer>
</body>
</html>